canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.cursor {
  color: white;
}

.overlay-text {
  position: absolute;
  top: 10px; /* 화면 상단에서의 거리 */
  left: 10px; /* 화면 왼쪽에서의 거리 */
  font-size: 24px; /* 텍스트 크기 */
  font-style: oblique;
  color: white; /* 텍스트 색상 */
  padding: 10px; /* 내부 여백 */
  z-index: 100; /* 다른 요소들 위에 표시되도록 설정 */
}