/* button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    overflow: hidden;
    padding: 10px;
    margin: 0;
    font-size: 140px;
    white-space: nowrap;
    color : white;
} */

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

button {
    background-color: rgba(0,0,0,0);
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

h1 {
    margin-top: 60px;
    font-size: 160px !important;
    white-space: nowrap;
    color: white;
    margin-bottom: 20px !important;
}
